{% extends "main/base.html" %}

{% block title %}Войти{% endblock  %}

{% block content %}
</br></br></br><h1>Войти в аккаунт:</h1></br></br>
        <div class="container">
            <form method="post" class="contact-form">
                {% csrf_token %}
                <label style="color:white;">Псевдоним:</label>
                {{form.username}}
                <label style="color:white;">Пароль:</label>
                {{form.password}}
                <input class="submit" value="ВОЙТИ" type="submit">
            </form>
        </div>
{% endblock  %}