{% extends "main/base.html" %}
{% block title %}Создатель{% endblock %}
{% block head-links %}
    <li><a href='#'>Главная</a></li>
    <li><a href='#'>Мои тесты</a></li>
    <li><a href='#'>Все тесты</a></li>
    <li><a href='#'>Роль: Создатель</a></li>
{% endblock head-links %}
{% block content %}
    {% for an in answer %}
        <div class="alert alert-warning">
            <h4>Ответ:{{an.answer}}</h4>
            <a href="{% url 'creator:answer-update' an.ank_id an.quest_id an.id%}" class="btn btn-warning">Редактировать</a>
            <a href="{% url 'creator:answer-delete' an.ank_id an.quest_id an.id%}" class="btn btn-danger">Удалить</a>
        </div>
    {% endfor %}
    {% for an in answer|slice:"0:1" %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{% url 'creator:answer-create' an.ank_id an.quest_id%}" class="btn btn-secondary">Добавить</a>
        </div>
    {% endfor %}
{% endblock content %}