{% extends "main/base.html" %}
{% block title %}Создатель{% endblock %}
{% block head-links %}
    <li><a href='#'>Главная</a></li>
    <li><a href='#'>Мои тесты</a></li>
    <li><a href='#'>Все тесты</a></li>
    <li><a href='#'>Роль: Создатель</a></li>
{% endblock head-links %}
{% block content %}
    {% for qu in questions %}
        <div class="alert alert-warning">
            <h4>Вопрос:{{qu.question}}</h4>
            <a href="{% url 'creator:answer-list' qu.ank_id qu.id%}" class="btn btn-warning">Просмотреть ответ</a>
            <a href="{% url 'creator:question-update' qu.ank_id qu.id%}" class="btn btn-warning">Редактировать</a>
            <a href="{% url 'creator:question-delete' qu.ank_id qu.id%}" class="btn btn-danger">Удалить</a>
        </div>
    {% endfor %}
    {% for ankety in getlist|slice:"0:1" %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{% url 'creator:question-create' ankety.pk%}" class="btn btn-secondary">Добавить</a>
        </div>
    {% endfor %}
{% endblock content %}