{% extends "main/base.html" %}
{% block title %}Создатель{% endblock %}
{% block head-links %}
<li><a href="/">Главная</a></li>
<li><a href="{% url 'creator:anketa-list' %}">Тесты</a></li>
<li style="color:white">Роль: Создатель</li>
<li style="color:white">Пользователь: {{request.user}}</li>
<li>
	<form style="margin-left:600px;margin-top:-32px" method="post" action="{% url 'users:logout' %}">
		{% csrf_token %}
		<button class="logout" type="submit">Выйти</button>
	</form>
</li>
{% endblock head-links %}
{% block content %}
<div>
    <h1 style="margin-top:200px">Удалить вопрос?</h1>
    <form class="add" method="post">
    {% csrf_token %}
    <input class="delete" value="Удалить" type="submit">
</div>
{% endblock content %}