{% extends "main/base.html" %}
{% block title %}Создатель{% endblock %}
{% block head-links %}
    <li><a href='#'>Главная</a></li>
    <li><a href='#'>Мои тесты</a></li>
    <li><a href='#'>Все тесты</a></li>
    <li><a href='#'>Роль: Создатель</a></li>
{% endblock head-links %}
{% block content %}
    {% for qu in question %}
        <div class="alert alert-warning">
            <h4>Вопрос:{{qu.question}}</h4>
            {% comment %} <a href="{% url 'creator:answer-list' qu.ank_id qu.id%}" class="btn btn-warning">Просмотреть ответ</a> {% endcomment %}
            {% comment %} <a href="{% url 'creator:question-update' qu.ank_id%}" class="btn btn-warning">Редактировать</a> {% endcomment %}
            {% comment %} <a href="{% url 'creator:question-delete' qu.ank_id qu.id%}" class="btn btn-danger">Удалить</a> {% endcomment %}
        </div>
    {% endfor %}
    <div class="d-grid gap-2 col-6 mx-auto">
        {% comment %} <a href="{% url 'creator:question-create'%}" class="btn btn-secondary">Добавить</a> {% endcomment %}
    </div>
{% endblock content %}