{% extends "main/base.html" %}
{% block title %}Создатель{% endblock %}
{% block head-links %}
    <li><a href='#'>Главная</a></li>
    <li><a href='#'>Мои тесты</a></li>
    <li><a href='#'>Все тесты</a></li>
    <li><a href='#'>Роль: Организатор</a></li>
{% endblock head-links %}
{% block content %}
<div>
    <h1>Форма по добавлению опроса</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.survey_title }}</br>
        <h4>Выберите тест</h4>
        {{ form.test }}</br>
        <h4>Выберите участников</h4>
        <ul class="form-select">
            <option selected>Зажмите ctrl, чтобы выбрать несколько участников</option>
            <li class="list-group-item">{{ form.students }}</li>
        </ul>
        <h4>Выберите дату начала</h4>
        {{ form.start_time }}</br>
        <h4>Выберите дату завершения</h4>
        {{ form.end_time }}</br>
        <button class="btn btn-success" type="submit">Добавить анкету</button>
</div>
{% endblock content %}