{% extends "main/base.html" %}
{% block title %}Создатель{% endblock %}
{% block head-links %}
<li><a href="/">Главная</a></li>
<li><a href="{% url 'manager:survey-list' %}">Тесты</a></li>
<li style="color:white">Роль: Организатор</li>
<li style="color:white">Пользователь: {{request.user}}</li>
<li>
	<form style="margin-left:600px;margin-top:-32px" method="post" action="{% url 'users:logout' %}">
		{% csrf_token %}
		<button class="logout" type="submit">Выйти</button>
	</form>
</li>
{% endblock head-links %}
{% block content %}
	<div class="features">
		{% if surveylist%}	
		<h1 style="margin-top:100px">Список тестов:</h1>
			<table>
				<tr>
					<thead>
						<th scope="col">Заголовок:</th>
						<th scope="col">Время начала:</th>
						<th scope="col">Время завершения:</th>
						<th scope="col">Кол-во участников:</th>
						<th scope="col">Действия:</th>
					</thead>
				</tr>
				<tbody>
				{% for survey in surveylist %}
					<tr>
						<td width="400px">{{ survey.survey_title }}</td>
						<td width="200px">{{ survey.start_time }}</td>
						<td width="200px">{{ survey.end_time }}</td>
						<td width="200px">{{ survey.students.count }}</td>
						<td>
							<a style="background-color:rgb(0, 183, 255);border-color:rgb(0, 183, 255);color:black;" href="{% url 'manager:survey-view' survey.id %}" class="btn btn-warning">Просмотреть</a>
							<a style="background-color:rgb(0, 183, 255);border-color:rgb(0, 183, 255);color:black;" href="{% url 'manager:survey-update' survey.id %}" class="btn btn-warning">Редактировать</a>
							<a style="background-color:rgb(0, 183, 255);border-color:rgb(0, 183, 255);color:black;" href="{% url 'manager:survey-delete' survey.id %}" class="btn btn-danger">Удалить</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<div class="d-grid gap-2 col-6 mx-auto">
				<a href="{% url 'manager:survey-create'%}" class="create">Добавить</a>
			</div>
		{% else %}
			<h1 style="margin-top:300px">У вас нет тестов</h1>
			<div class="d-grid gap-2 col-6 mx-auto">
				<a href="{% url 'manager:survey-create'%}" class="create">Добавить</a>
			</div>
		{% endif %}
	</div>
{% endblock content %}