{% extends "main/base.html" %}
{% block title %}Добро пожаловать!{% endblock  %}
{%block content%}
    <div style="text-align:center;margin-top:200px;">
        <h1>Добро пожаловать!</h1>
        <div class="main-container">
            </br>
            </br>
            </br>
            <div style="text-align:center;">
                <a href="{% url 'users:register' %}"><button class="hello">Зарегистрироваться</button></a>
                <a href="{% url 'users:login' %}"><button class="hello">Войти</button></a>
            <div>
        </div>
    </div>
{%endblock%}