{% extends "main/base.html" %}
{% block title %}Создатель{% endblock %}
{% block head-links %}
    <li><a href='#'>Главная</a></li>
    <li><a href='#'>Мои тесты</a></li>
    <li><a href='#'>Все тесты</a></li>
    <li><a href='#'>Роль: Создатель</a></li>
{% endblock head-links %}
{% block content %}
    {% for an in answer %}
        <div class="alert alert-warning" method="post">
            {{ an.answer }}
            <h4>Ответ:<input class="form-control form-control-lg" type="text" placeholder="Введите ответ"></h4>
        </div>
        <div>
            <form method="post">
                <button class="btn btn-success" type="submit">Ответить</button>
        </div>
    {% endfor %}
{% endblock content %}