{% extends "main/base.html" %}
{% block head-links %}
    <li><a href='#'>Главная</a></li>
    <li><a href='#'>Мои тесты</a></li>
    <li><a href='#'>Все тесты</a></li>
    <li><a href='#'>Роль: Студент</a></li>
{% endblock head-links %}
{% block content %}
    {% for qu in questions %}
        <div class="alert alert-warning">
            <h4>{{qu.question}}</h4>
            <a href="{% url 'student:get-answer' qu.ank_id qu.id%}" class="btn btn-warning">Ответить</a>
        </div>
    {% endfor %}
    {% for qu in questions|slice:"0:1" %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{% url 'student:get-result' qu.ank_id%}" class="btn btn-success">Подвести итог</a>
        </div>
    {% endfor %}
{% endblock content %}