{% extends "main/base.html" %}
{% block title %}Студент{% endblock %}
{% block head-links %}
<li><a href="/">Главная</a></li>
<li><a href="{% url 'student:tests-list' %}">Тесты</a></li>
<li style="color:white">Роль: Создатель</li>
<li style="color:white">Пользователь: {{request.user}}</li>
<li>
	<form style="margin-left:600px;margin-top:-32px" method="post" action="{% url 'users:logout' %}">
		{% csrf_token %}
		<button class="logout" type="submit">Выйти</button>
	</form>
</li>
{% endblock head-links %}
{% block content %}
    <h1 style="margin:auto;margin-top:100px;width:660px">Список вопросов:</h1></br></br></br>
    {% for qu in questions %}
        <div style="background-color:rgb(0, 100, 140);border-color:rgb(0, 100, 140);color:white;" class="alert alert-warning">
            <h4>{{qu.question}}</h4>
            <a style="background-color:rgb(0, 183, 255);border-color:rgb(0, 183, 255);color:black;" href="{% url 'student:get-answer' qu.ank_id qu.id%}" class="btn btn-warning">Ответить</a>
        </div>
    {% endfor %}
    {% for qu in questions|slice:"0:1" %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{% url 'student:get-result' qu.ank_id%}" class="create">Подвести итог</a>
        </div>
    {% endfor %}
{% endblock content %}